<div id="terms">
  <h1>利用規約</h1>
  
  <p>以下、本サイトをご利用される前に、下記の利用規約をよくお読みください。同意できる方のみ本サイトをご利用ください。</p>

  <h2>第１条 サービス内容</h2>
  <div class="p-wrapper">
    <p>本サイトは、写真や画像をオンラインで加工できるサービスを提供する。</p>
  </div>

  <h2>第２条 料金</h2>
  <div class="p-wrapper">
  <p>本サイトは、全てのコンテンツを完全無料で利用できることとする。</p>
  </div>

  <h2>第３条 使用許諾範囲</h2>
  <div class="p-wrapper">
  <p>（1）商用目的・非商用目的:
  本サイトは、有償、無償問わず、自由に利用できることとする。 
  ※有償、無償問わず、ホームページ、バナー、印刷物、チラシ、広告、看板、ディスプレイ等の使用を許可する。</p>
  <p>（2）利用用途の制限
  本サイトの画像素材を「性風俗・アダルト・ポルノ・出会い系・ネットワークビジネス関連のコンテンツ」 
  「法令や公序良俗に反するコンテンツ」で利用することを禁止する。</p>
  </div>

  <h2>第４条 報告不要</h2>
  <div class="p-wrapper">
  <p>本サイトを利用する際、登録、報告、その他の手続きを不要とする。</p>
  </div>

  <h2>第５条 禁止事項</h2>
  <div class="p-wrapper">
  <p>（1）再配布の禁止：
  ①本サイトの画像素材を素材として再配布することを禁止する。 
  ②本サイトの画像素材を加工・改造して再配布することも禁止する。</p>
  <p>（2）システムへの組込みの禁止：
  本サイトの画像素材をテンプレートの一部として利用すること、システムの一部に組み込んで利用することを禁止する。 
  その他、当サイトと競合する画像加工サイトや画像加工システムでの利用を禁止する。</p>
  <p>（3）直リンクの禁止：
  本サイトで作成した画像は、必ず自己の端末にダウンロードすることとし、「直リンク」して利用することを禁止する。</p>
  <p>（4）商標登録・意匠登録の禁止：
  本サイトで作成した画像やロゴを商標登録・意匠登録することを禁止する。</p>
  </div>

  <h2>第６条 利用停止の権限</h2>
  <div class="p-wrapper">
  <p>ユーザーの利用方法について、本サイトが不適切であると判断した場合、該当のユーザーの現在、および将来にわたる利用禁止の措置を取ることができるものとする。
  該当のユーザーは、利用禁止の要請を受けた場合、速やかに利用中の画像を削除しなければならないこととする。</p>
  </div>

  <h2>第７条 免責事項</h2>
  <div class="p-wrapper">
  <p>（1）本サイトは、利用者のＰＣ利用環境について一切関与せず、また一切の責任を負わないものとする。</p>
  <p>（2）本サイトを利用して生じた、損害・賠償について、本サイトは一切の責任を負わないものとする。</p>
  <p>（3）本サイトで利用する写真・画像の著作権について、全て利用者自身・自己の責任に基づき管理・利用することとする。</p>
  <p>（4）本サイトは、サイトの利用方法など技術的な質問に対するサポート義務を一切負わないこととする。</p>
  </div>

  <h2>第８条 裁判管轄</h2>
  <div class="p-wrapper">
  <p>本サイトの利用において、本サイトと利用者との間で生じた紛争については、本サイトの運営者の所在地を管轄する裁判所を第一審の合意管轄裁判所とする。</p>
  </div>

  <h2>第９条 規約の改訂</h2>
  <div class="p-wrapper">
  <p>本サイトは、随時本規約を改訂することができるものとする。本規約を改訂しようとする場合、本サイト上で、随時利用者に告知するものとする。</p>
  </div>
</div>